* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  margin: 0;
  display: grid;
  place-content: center;
  text-align: top;
  background-color: rgb(63, 62, 62);
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#name {
  color: rgb(255, 255, 255);
  font-size: 80px;
  font-family: "Courier Prime";
  position: relative;
  width: max-content;
  text-align: center;
}

#name::before,
#name::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
#name::before {
  background-color: rgb(63, 62, 62);
  animation: typewriter 5s steps(14) 1s forwards;
}

#name::after {
  width: 0.1em;
  background: white;
  animation: typewriter 5s steps(14) 1s forwards, blink 750ms steps(14) infinite;
}
@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}
