body {
  background-image: linear-gradient(
    to right,
    rgb(84, 26, 122),
    rgb(175, 174, 177)
  );
}

.btn {
  position: relative;
  width: 20%;
  height: 120px;
  margin: 10px auto;
  display: inline block;
  border-radius: 50px;
  border: 1px solid black;
  background: transparent;
  transition: 0.5s;
  font-size: 50px;
  font-weight: bold;
  color: white;
  line-height: 110px;
  min-width: 300px;
}

.btn::before {
  content: "";
  position: absolute;

  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50px;
  transition: 0.5s;
}

button:nth-child(1)::before {
  content: "Home";
}
button:nth-child(2)::before {
  content: "About";
}
button:nth-child(3)::before {
  content: "Languages";
}
button:nth-child(4)::before {
  content: "Porfolio";
}
